$dark-text-shadow: transparentize(black, 0.3);
$darken-background: transparentize(black, 0.3);

$button-background-transparent: transparentize(black, 0.6);
$button-background-transparent-hover: transparentize(black, 0.4);
